version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "deps"
      include: "scope"
    groups:
      all-deps:
        patterns:
          - "*"
    open-pull-requests-limit: 10
    allow:
      - dependency-type: "production"
      - dependency-type: "development"
